 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.search {
  width: 639px;
  height: 32px;
  background-color: black;
  color: white;
  border: 2px solid purple;
  border-radius: 5px;
  transform: translate(500px);
}

.app {
  display: flex;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #181818;
}

.sidebar {
  width: 240px;
  background-color: #202020;
  padding: 15px;
}

.logo {
  margin-bottom: 10px;
}

.logo-image {
  width: 90px;
  height: 20px;
  margin-left: 20px;
}

.menu {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.menu li img {
  width: 20px;
  height: 22px;
  margin-right: 10px;
  margin-left: 10px;
}

.main {
  flex: 1;
  padding: 25px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top:30px;
  gap: 20px;
}

.nav-link {
  background-color: #333;
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.nav-link.active {
  background-color: green;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  background-color: #202020;
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  width: 500px;
  height: 300px;
}

.card-text {
  padding: 10px;
}

.card-text h3 {
  font-size: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

 .icon-image {
  margin-right: 5px;
}





